# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
.venv/
venv/
env/
__pycache__/
*.py[cod]

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Build
# =========================
dist/
dist-ssr/
build/
.next/

# =========================
# Logs
# =========================
logs/
*.log
lerna-debug.log*

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?.venv/
